/*********Extra small devices (phones, 600px and down) *********/
@media only screen and (max-width: 600px) {

}

/******** Small devices (portrait tablets and large phones, 600px and up) ********/
@media only screen and (min-width: 600px) {}

/********* Medium devices (landscape tablets, 768px and up) ********/
@media only screen and (min-width: 768px) {
    /* CSS Document */
    #footer {
        font-size: 1.5em;
    }
    /* ====================== Navigation ====================== */
    nav h1 a {
    font-size: 1.6em;
    }

    /* ====================== Restaurant Filtering ====================== */
    .filter-options {
        height: 60px;
    }
    .filter-options h2 {
        font-size: 2.1em;
        padding: 0.8% 0 0 0;
    }
    .filter-options select {
        font-size: 1.6em;
    }

    /* ====================== Restaurant Listing ====================== */
    #restaurants-list li {
        width: 44%;
    }
}

/******** Large devices (laptops/desktops, 992px and up) *********/
@media only screen and (min-width: 992px) {}

/******** Extra large devices (large laptops and desktops, 1200px and up) ********/
@media only screen and (min-width: 1200px) {}