/*********Extra small devices (phones, 600px and down) *********/
@media only screen and (max-width: 600px) {
    /* ====================== Restaurant Details ====================== */
    #restaurant-cuisine {
        position: relative;
        bottom: 1.7%
    }

}

/******** Small devices (portrait tablets and large phones, 600px and up) ********/
@media only screen and (min-width: 600px) {
    /* ====================== Restaurant Main Screen ====================== */
    .filter-options select {
        font-size: 1.1em;
    }

    #restaurants-list li h3 {
        font-size: 1.7em;
    }
    #restaurants-list p {
        font-size: 1.5em;
    }

    /* ====================== Restaurant Details ====================== */
    #restaurant-cuisine {
        position: relative;
        bottom: 1.4%
    }
}

/********* Medium devices (landscape tablets, 768px and up) ********/
@media only screen and (min-width: 768px) {
    /* ====================== Restaurant Main Screen ====================== */
    #footer {
        font-size: 1.5em;
    }
    /* ====================== Navigation ====================== */
    #site-title a {
    font-size: 1.6em;
    }

    /* ====================== Restaurant Filtering ====================== */
    .filter-options {
        height: 60px;
    }
    .filter-options h2 {
        font-size: 2.1em;
        padding: 0.8% 0 0 0;
    }
    .filter-options select {
        font-size: 1.6em;
    }

    /* ====================== Restaurant Listing ====================== */
    /* Two column views */
    #restaurants-list li {
        width: 44%;
    }

    /* ====================== Restaurant Details ====================== */
    #breadcrumb {
        font-size: 1.2em;
    }

    #restaurant-container, #reviews-container {
        padding: 0px 2% 30px;
    }

    #restaurant-name {
        font-size: 2.1em;
        margin: 25px 0 15px;
    }

    #picture-cuisine-container{
        width: 50%;
    }

    #restaurant-cuisine {
        font-size: 1.3em;
        /* Remove the few pixels of white space cased by the picture */
        position: relative;
        bottom: 1.6%
    }

    #address-hours-container{
        width: 45%;
        justify-content: left;
        margin-left: 20px;
        display: inline-block;
        flex-wrap: nowrap;
    }

    #restaurant-address {
        font-size: 1.8em;
        text-align: left;
    }
    #restaurant-hours {
        font-size: 1.1em;
        width: 100%;
        margin-top: 0px;
    }

    #reviews-container h3 {
        font-size: 2.4em;
    }
    #reviews-list li p {
        font-size: 1.4em
    }
    #reviews-list li strong {
        font-size: 1.8em;
    }


}

/******** Large devices (laptops/desktops, 992px and up) *********/
@media only screen and (min-width: 992px) {
    /* ====================== Restaurant Main Screen ====================== */
    /* ====================== Restaurant Listing ====================== */
    /*Three column views */
    #restaurants-list li {
        width: 28%;
    }

    /* ====================== Restaurant Details ====================== */
    #restaurant-name {
        font-size: 2.4em;
    }
    #restaurant-cuisine {
        font-size: 1.5em;
    }
    #restaurant-address {
        font-size: 2em;
        text-align: left;
    }
    #restaurant-hours {
        font-size: 1.4em;
    }
    #reviews-container h3 {
        font-size: 2.6em;
    }
    #reviews-list li p {
        font-size: 1.6em
    }
    #reviews-list li strong {
        font-size: 2em;
    }
}

/******** Extra large devices (large laptops and desktops, 1200px and up) ********/
@media only screen and (min-width: 1200px) {
    /* ====================== Restaurant Main Screen &Restaurant Listing ====================== */
    /*
    To ensure the layout does not get stretched too far.
    Keep the content centered.
    */
    main {
        width: 1200px;
        margin-left: auto;
        margin-right: auto;
        border-left-color: lightgray;
        border-left-style: outset;
        border-right-color: lightgray;
        border-right-style: outset;
    }
}